/* Write your CSS here */
.bg-container {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
  display: flex;
  justify-content: center;
}
.app-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-self: center;
}
.heading {
  font-family: 'Bree serif';
  font-size: 45px;
  margin-top: 20px;
}
.input-container {
  display: flex;
  flex-direction: row;
  border: 1px solid;
  border-radius: 5px;
  margin-top: 20px;
}
.input {
  outline: none;
  height: 40px;
  border: none;
  width: 250px;
  border-radius: 5px;
  background-color: transparent;
  margin-left: 15px;
}
.image {
  height: 30px;
  width: 30px;
  margin-top: 5px;
  margin-right: 6px;
}
.lists {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: flex-start;
}
.app-item-list {
  list-style-type: none;
  text-align: center;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}
